h1{
	text-align: center;
}

p{
	text-align: center;
	font-size: large;
}

.home{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.principale{
	height: fit-content;
	background-color: #c75453;
}