.home{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

table,td{
	border: 4px solid black;
}

.descrizione{
	text-align: left;
	padding-left: 5%;
	font-size: 2vw;
}

.immagine{
	width: 100%;
	vertical-align: middle;
}